:root {
    --black: #000000;
    --lightbrown: #F6E0A4;
    --red: #e30512;
    --blue: #1d3fbb;
    --orange: #ff651a;
    --yellow: #ffbe00;
    --waterblue: #00c1b5;
    --pink: #FF608C;
    --white: #FFFFFF;
    --lg: 1.8em;
    --md: 1.5em;
    --sm: 1.2em;
    --background-color: var(--lightbrown);    
    --primary-color: var(--black);
    --secondary-color: var(--white);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    
    position: relative;

    font-family: Roboto, sans-serif;
    
    background: var(--background-color);
    transition-property: background;
    transition-duration: 0.2s;
}

.header {
    padding: 2em 1.6em;

    position: absolute;
    top: 0;
}

.logo {
    width: 16em;
    height: auto;
}

.section {
    width: 100%;
    padding: 0 2em;

    display: flex;
    flex-direction: column;
}

.about {
    margin-bottom: 2em;
    
    display: grid;
    gap: 3.2em;
    
    text-align: center;
    
    order: 1;
}

.nav {
    display: none;
}

.contact {
    text-align: center;
    
    order: 2;
}

.magazine-list {
    display: grid;
    grid-auto-rows: 100vh;    
    
    order: 0;
}

.magazine {
    display: grid;
    align-content: center;
    justify-items: center;
}

.cover-img {
    width: 80vw;
    max-width: 40em;
}

p[class^="p-"], span[class^="p-"] {
    margin: 0 0 1.2em 0;

    color: var(--primary-color);
    line-height: 1.4em;

    &:only-of-type {
        margin-bottom: .4em;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.p-1 {
    font-size: var(--lg);
    font-weight: 800;
}

.p-2 {
    font-size: var(--md);
    font-weight: 700;
}

.p-3 {
    font-size: var(--sm);
    font-weight: normal;
}

.anchor-primary {
    color: var(--primary-color);

    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.anchor-secondary {
    color: var(--secondary-color);

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 600px) {
    .logo {
        width: 28em;
    }
}

@media (min-width: 900px) {    
    .header {
        position: fixed;
    }
    
    .section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav {
        display: block;
    }

    .about {
        align-self: end;
        text-align: left;

        position: sticky;
        bottom: 2em;

        order: 0;
    }

    .right-side {
        display: grid;
        grid-template-rows: repeat(2, 50vh);
    }
    
    .contact {
        text-align: right;

        position: sticky;
        top: 1.6em;

        order: 1;
    }

    .nav {
        place-self: end;
        
        position: fixed;
        bottom: 0;

        order: 2;

        ul {
            margin: 2em 0;

            list-style: none;

            & > li {
                height: 2.8em;
            }

            & > li > a {
                font-size: var(--lg);
                
                color: var(--primary-color);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    html {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;        

        -ms-overflow-style: none;
        scrollbar-width: none; 
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .magazine {
        align-content: start;

        scroll-snap-align: start;
    }

    .cover-img {
        max-width: 44em;
    }
}